body{
    background-color: rgb(249, 184, 231);
    color: rgb(181, 56, 158);
    margin: 0;
   font-weight: 100;
}

section{
    margin-bottom: 40px;
}


.block-container div{
    display: block;
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 15px;
    margin: 5px 0;
    border: 2px solid white;
    position: relative;
}


.inline-container span{
    display: inline;
    background-color:  rgb(181, 56, 158);
    padding: 10px;
    color: aliceblue;
    border: 2px solid white;
    position: relative;
}


.inline-block-container div{
    display: inline-block;
    background-color:  rgb(181, 56, 158);
    padding: 20px;
    margin: 5px;
    color: aliceblue;
    border: 2px solid white;
    position: relative;
}


.flex-container{
    display: flex;
    gap: 10px;
    color: aliceblue;
    position: relative;
    
}

.bloco-flex{
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 25px;
    border: 2px solid white;
    position: relative;
}
.inline-flex-container{
    display: inline-flex;
    gap: 10px;
    background-color:  rgb(181, 56, 158);
    color: aliceblue;
    border: 2px solid white;
    position: relative;
}

.bloco-inline-flex{
    background-color:  rgb(181, 56, 158);
    color: white;
    padding: 25px;
    border: 2px solid white;
    position: relative;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 10px;
    border: 2px solid white;
    position: relative;
    
}

.bloco-grid{
    background-color:  rgb(181, 56, 158);
    color: white;
    padding: 25px;
    border: 2px solid white;
    position: relative;
}


.inline-grid-container{
    display: inline-grid;
    grid-template-columns: repeat(2, 100px);
    gap: 10px;
    position: relative;
}

.bloco-inline-grid{
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 25px;
    border: 2px solid white;
    position: relative;
}


.flow-root-container{
    display: flow-root;
    position: relative;
}

.bloco-flow{
    float: left;
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 25px;
    border: 2px solid white;
    position: relative;

  margin-right: 10px;}
  body{

    font-family: helvetica;
}

section{
    margin-bottom: 40px;
}


.table-container{
    display: table;
    position: relative;
}

.table-container div{
    display: table-cell;
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 20px;
    border: 2px solid white;
    position: relative;
}


.block-flow div{
    display: block;
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 15px;
    margin: 5px 0;
    border: 2px solid white;
    position: relative;
}

.block-flex{
    display: flex;
    gap: 10px;
    position: relative;
}

.block-flex div{
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 25px;
    border: 2px solid white;
    position: relative;
}

.block-grid{
    display: grid;
    grid-template-columns: repeat(2,100px);
    gap: 10px;
    position: relative;
}

.block-grid div{
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 25px;
    border: 2px solid white;
    position: relative;
}

.block-flow-root{
    display: flow-root;
    
}

.block-flow-root div{
    float: left;
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 25px;
    margin-right: 10px;
    border: 2px solid white;
    position: relative;
}

.inline-flow span{
    display: inline;
    background-color: rgb(181, 56, 158);
    padding: 10px;
    border: 2px solid white;
    position: relative;
}


.inline-flex{
    display: inline-flex;
    gap: 10px;
}

.inline-flex div{
   background-color: rgb(181, 56, 158);
    color: white;
    padding: 25px;
    border: 2px solid white;
    position: relative;
}

.inline-grid{
    display: inline-grid;
    grid-template-columns: repeat(2,100px);
    gap: 10px;
    position: relative;
}

.inline-grid div{
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 25px;
    border: 2px solid white;
    position: relative;
}

.inline-flow-root{
    display: inline-block;
}

.inline-flow-root div{
    float: left;
    background-color: rgb(181, 56, 158);
    color: white;
    padding: 25px;
    margin-right: 10px;
    border: 2px solid white;
    position: relative;
}